<h1>Profile</h1>
<h2>Saved reviews</h2>

{{#each review}}
    <p>Title: {{title}}, Description: {{description}}, Location: {{location}}, 
        Date: {{date}}, Start time: {{startTime}}, Creator name: {{creatorName}}</p>
{{/each}}