<h1>{{title}}</h1>
<p>All reviews for {{title}} will be displayed here. Clicking Subscribe will 
    display this course's reviews on your dashboard.
</p>
{{#unless subscribed}}
<!-- form for subscribing to courses -->
<p>You have not subscribed to this class.</p>
<form id = "subscribe-form" method = "post" action = "/course/{{title}}">
    <button type = "submit">Subscribe</button>
</form>
{{else}}
<!-- form for unsubscribing -->
<p>You are currently subscribed to this class.</p>
<form id = "unsubscribe-form" method = "post" action = "/course/{{title}}/unsubscribe">
    <button type = "submit">Unsubscribe</button>
</form>
{{/unless}}

<!-- Displays that classes reviews -->
<h2>Reviews</h2>
{{#each review}}
    <p>Title: {{title}}, Description: {{description}}, Location: {{location}}, 
        Date: {{date}}, Start time: {{startTime}}, Creator name: {{creatorName}}</p>
{{/each}}