<p>All reviews for {{title}} will be displayed here.</p>

{{#each review}}
    <p>Title: {{title}}, Description: {{description}}, Location: {{location}}, 
        Date: {{date}}, Start time: {{startTime}}, Creator name: {{creatorName}}</p>
{{/each}}