<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
            <h1>{{title}}</h1>
        </div>
        <div class="col-sm-1">
            {{#unless subscribed}}
            <!-- form for subscribing to courses -->
            <form id="subscribe-form" class="sub" method="post" action="/course/{{title}}">
                <button type="submit">Subscribe</button>
            </form>
            {{else}}
            <!-- form for unsubscribing -->
            <form id="unsubscribe-form" class="sub" method="post" action="/course/{{title}}/unsubscribe">
                <button type="submit">Unsubscribe</button>
            </form>
            {{/unless}}
        </div>
    </div>

</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <h1>Upcoming reviews</h1>
        </thead>
        <tbody>
            {{#each review}}
            <tr>
                <td height="100" , font-size="8px" , font-weight="bold">{{this.course}} <br>
                    {{this.title}}
                    <br> {{this.location}} <br> {{this.date}} <br> Starting at: {{this.startTime}} <br> {{this.description}}
                    <br>
                    Created by: {{this.creatorName}} </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>