<div class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-1">
            <h1>{{title}}</h1>
        </div>
        <div class="col-md-1">
            {{#unless subscribed}}
            <!-- form for subscribing to courses -->
            <form id="subscribe-form" class="sub" method="post" action="/course/{{title}}">
                <button type="submit">Subscribe</button>
            </form>
            {{else}}
            <!-- form for unsubscribing -->
            <form id="unsubscribe-form" class="sub" method="post" action="/course/{{title}}/unsubscribe">
                <button type="submit">Unsubscribe</button>
            </form>
            {{/unless}}
        </div>
        <div class="col-md-5"></div>
    </div>

    <div id="courses">
        <div class="table-responsive">
            <h1>Upcoming reviews</h1>
            {{#each review}}
            <table class="three">
                <thead>
                    <tr>
                        <th colspan="2">{{this.course}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Title</td>
                        <td>{{this.title}}</td>
                    <tr>
                        <td>Location</td>
                        <td>{{this.location}}</td>
                    <tr>
                        <td>Date</td>
                        <td>{{this.date}}</td>
                    <tr>
                        <td>Time</td>
                        <td>{{this.startTime}}</td>
                    <tr>
                        <td>Description</td>
                        <td>{{this.description}}</td>
                    <tr>
                        <td>Owner</td>
                        <td>{{this.creatorName}}</td>
                </tbody>
            </table>
            <br>
            <br>
            {{/each}}
        </div>
    </div>
</div>